/* Background and container setup */
.login-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Belleza', sans-serif;
}

/* Login form box */
.login-box {
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

/* Logo */
.login-logo {
  width: 150px;
  margin-bottom: 1.5rem;
}

/* Form styling */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form label {
  /* font-weight: 500; */
  font-size: 1.2rem;
  text-align: left;
  color: #333;
}

.login-form label a {
  font-size: 1.1rem;
}

.login-form input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #333;
  font-size: 16px;
  background-color: #f5eaea;
}

/* Button */
.login-form button {
  background-color: #e7d9d9;
  border: none;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #d0c0c0;
}

/* Register text */
.register-text {
  margin-top: 1rem;
  font-size: 18px;
}

.register-text a {
  color: crimson;
  text-decoration: underline;
}

.go-back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 10px;
  color: #fff6f6;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease-out;
}

.go-back-button:hover {
  background-color: white;
  color: black;
}


@media (max-width: 480px) {
  .login-box {
    padding: 1.2rem;
  }

  .login-logo {
    width: 120px;
  }

  .login-form input {
    font-size: 14px;
  }

  .login-form button {
    font-size: 14px;
  }
}
