/* Sticky navbar styles */
.header-nav {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #eee;
  background-color: transparent !important;
  z-index: 10;
  /* above everything */
}
.header-logo {
  width: 40px;
  height: 48px;
  padding-left: 30px;
  flex-shrink: 0;
}

.nav-links {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 40px;
  align-items: center;
  margin-right: 30px;
  font-size: 16px;
  margin-top: 16px;
  min-width: 0;
  overflow-x: auto;
}

.nav-links button {
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  color: black;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-links button:hover {
  color: red;
}

.nav-links button.active {
  text-decoration: underline;
  color: red;
}


/* Hamburger icon */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  margin: 20px 30px 0 auto;
  z-index: 20;
}

.hamburger div {
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  transition: 0.3s ease;
}

/* Hamburger animation (X shape) */
.hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.hamburger.open div:nth-child(2) {
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}


/* Mobile nav links visibility */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(5px);
    gap: 20px;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.3s ease;

  }

  .nav-links.show {
    /* display: flex; */
    padding: 20px 0;
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);

  }

  .nav-links button {
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
}